@import url('https://fonts.googleapis.com/css?family=Montserrat');

$useless: #414141;
$primary: #b2b08b;
$info: #888896;
$danger: #968888;
$warning: #899688;
$family-sans-serif: 'Montserrat', sans-serif;
